* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: #232323; */
}

div,
li {
  /* font-family: "noto"; */
  color: #232323;
}

header,
nav,
h1 {
  font-family: "jalnan";
  color: #232323;
}
